@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">SEW</h1>
    <p>Learn about <a href="https://docs.github.com/en/code-security">CodeQL</a>.</p>
</div>
